<section id="center" class="center_about">
    <div class="center_om bg_back">
        <div class="container-xl">
            <div class="row center_o1">
                <div class="col-md-12">
                    <h1 class="text-white font_60">About Us</h1>
                    <h6 class="col_red mb-0"><a class="text-light" href="#">Home</a> <span class="mx-2 text-white-50">/</span> About Us</h6>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="perform" class="pt-5 pb-5">
    <div class="container-xl">
        <div class="row perform_3">
            <div class="col-md-5">
                <div class="perform_3_left pt-5">
                    <h6 class="col_red fs-6 space_4">Ipsum Porta</h6>
                    <h2><a href="#">IMPROVE GENERAL RIDEABILITY</a></h2>
                    <p class="mt-3">Aliquam lorem ante, dapibus in, viverra quis, feugiat hellus rra null aut metus varius laoreet srtrum. Imperdiet e uricies vel augue dapibus in, viverra quis srtrum aenean. </p>
                    <ul class="mb-0 fw-bold ">
                        <li class="d-flex">
                            <img src="/image/19.jpg" class="me-4" alt="abc">
                            <span class="mt-2">
			<span class="col_red">OFFICIAL RIDER</span><br>
			<a class="fs-5" href="#">JACKIE BRONSON</a>
			</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-7">
                <div class="perform_3_right">
                    <a href="#"><img src="/image/20.jpg" alt="abc" class="img-fluid"></a>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="speed" class="pt-5 pb-5 bg_light carousel_p">
    <div class="container-xl">
        <div class="row perform_1 mb-5">
            <div class="col-md-6">
                <div class="perform_1_left text-end border-end px-4">
                    <h2 class="mb-0">
                        DYNAMIC RACING   <br> EXPERIENCE </h2>
                </div>
            </div>
            <div class="col-md-6">
                <div class="perform_1_right">
                    <span class="fs-5 space_4 col_red fw-bold space_margin d-inline-block">PERFORMANCE</span>
                </div>
            </div>
        </div>
        <div class="row speed_1">
            <div id="carouselExampleCaptions1" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleCaptions1" data-bs-slide-to="0" class="active" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions1" data-bs-slide-to="1" aria-label="Slide 2" class="" aria-current="true"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="speed_1_inner row mx-0 row-cols-1  row-cols-sm-2 row-cols-md-4">
                            <div class="col p-0">
                                <div class="speed_1_inner_left position-relative">
                                    <div class="speed_1_inner_left1">
                                        <a href="#"><img src="/image/10.jpg" alt="abc" class="img-fluid"></a>
                                    </div>
                                    <div class="speed_1_inner_left2 bg_back1 p-4 position-absolute top-0 w-100 h-100">
                                        <h6 class="col_red fs-6">Travel  & Tips</h6>
                                        <h4><a class="text-white link" href="#">King of the gear</a></h4>
                                        <h5 class="mb-0 text-uppercase fs-6"><a class="text-light link" href="#">Read More <i class="fa fa-long-arrow-right ms-2"></i></a></h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col p-0">
                                <div class="speed_1_inner_left position-relative">
                                    <div class="speed_1_inner_left1">
                                        <a href="#"><img src="/image/11.jpg" alt="abc" class="img-fluid"></a>
                                    </div>
                                    <div class="speed_1_inner_left2 bg_back1 p-4 position-absolute top-0 w-100 h-100">
                                        <h6 class="col_red fs-6">Travel  & Tips</h6>
                                        <h4><a class="text-white link" href="#">Enduro Tour</a></h4>
                                        <h5 class="mb-0 text-uppercase fs-6"><a class="text-light link" href="#">Read More <i class="fa fa-long-arrow-right ms-2"></i></a></h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col p-0">
                                <div class="speed_1_inner_left position-relative">
                                    <div class="speed_1_inner_left1">
                                        <a href="#"><img src="/image/12.jpg" alt="abc" class="img-fluid"></a>
                                    </div>
                                    <div class="speed_1_inner_left2 bg_back1 p-4 position-absolute top-0 w-100 h-100">
                                        <h6 class="col_red fs-6">Travel  & Tips</h6>
                                        <h4><a class="text-white link" href="#">Straight 2023</a></h4>
                                        <h5 class="mb-0 text-uppercase fs-6"><a class="text-light link" href="#">Read More <i class="fa fa-long-arrow-right ms-2"></i></a></h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col p-0">
                                <div class="speed_1_inner_left position-relative">
                                    <div class="speed_1_inner_left1">
                                        <a href="#"><img src="/image/13.jpg" alt="abc" class="img-fluid"></a>
                                    </div>
                                    <div class="speed_1_inner_left2 bg_back1 p-4 position-absolute top-0 w-100 h-100">
                                        <h6 class="col_red fs-6">Travel  & Tips</h6>
                                        <h4><a class="text-white link" href="#">Fast facts</a></h4>
                                        <h5 class="mb-0 text-uppercase fs-6"><a class="text-light link" href="#">Read More <i class="fa fa-long-arrow-right ms-2"></i></a></h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="speed_1_inner row mx-0 row-cols-1  row-cols-sm-2 row-cols-md-4">
                            <div class="col p-0">
                                <div class="speed_1_inner_left position-relative">
                                    <div class="speed_1_inner_left1">
                                        <a href="#"><img src="/image/14.jpg" alt="abc" class="img-fluid"></a>
                                    </div>
                                    <div class="speed_1_inner_left2 bg_back1 p-4 position-absolute top-0 w-100 h-100">
                                        <h6 class="col_red fs-6">Travel  & Tips</h6>
                                        <h4><a class="text-white link" href="#">King of the gear</a></h4>
                                        <h5 class="mb-0 text-uppercase fs-6"><a class="text-light link" href="#">Read More <i class="fa fa-long-arrow-right ms-2"></i></a></h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col p-0">
                                <div class="speed_1_inner_left position-relative">
                                    <div class="speed_1_inner_left1">
                                        <a href="#"><img src="/image/15.jpg" alt="abc" class="img-fluid"></a>
                                    </div>
                                    <div class="speed_1_inner_left2 bg_back1 p-4 position-absolute top-0 w-100 h-100">
                                        <h6 class="col_red fs-6">Travel  & Tips</h6>
                                        <h4><a class="text-white link" href="#">Enduro Tour</a></h4>
                                        <h5 class="mb-0 text-uppercase fs-6"><a class="text-light link" href="#">Read More <i class="fa fa-long-arrow-right ms-2"></i></a></h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col p-0">
                                <div class="speed_1_inner_left position-relative">
                                    <div class="speed_1_inner_left1">
                                        <a href="#"><img src="/image/16.jpg" alt="abc" class="img-fluid"></a>
                                    </div>
                                    <div class="speed_1_inner_left2 bg_back1 p-4 position-absolute top-0 w-100 h-100">
                                        <h6 class="col_red fs-6">Travel  & Tips</h6>
                                        <h4><a class="text-white link" href="#">Straight 2023</a></h4>
                                        <h5 class="mb-0 text-uppercase fs-6"><a class="text-light link" href="#">Read More <i class="fa fa-long-arrow-right ms-2"></i></a></h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col p-0">
                                <div class="speed_1_inner_left position-relative">
                                    <div class="speed_1_inner_left1">
                                        <a href="#"><img src="/image/17.jpg" alt="abc" class="img-fluid"></a>
                                    </div>
                                    <div class="speed_1_inner_left2 bg_back1 p-4 position-absolute top-0 w-100 h-100">
                                        <h6 class="col_red fs-6">Travel  & Tips</h6>
                                        <h4><a class="text-white link" href="#">Fast facts</a></h4>
                                        <h5 class="mb-0 text-uppercase fs-6"><a class="text-light link" href="#">Read More <i class="fa fa-long-arrow-right ms-2"></i></a></h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

<section id="stabil" class="pt-5 pb-5">
    <div class="container-xl">
        <div class="row perform_1 mb-5">
            <div class="col-md-6">
                <div class="perform_1_left text-end border-end px-4">
                    <h2 class="mb-0">
                        MAXIMUM SPEED &  <br> STABILITY </h2>
                </div>
            </div>
            <div class="col-md-6">
                <div class="perform_1_right">
                    <span class="fs-5 space_4 col_red fw-bold space_margin d-inline-block">PERFORMANCE</span>
                </div>
            </div>
        </div>

        <div class="row row-cols-1  row-cols-sm-2 row-cols-md-4 stabil_1">
            <div class="col">
                <div class="stabil_1_left text-center">
                    <span class="font_60 col_red lh-1"><i class="fa fa-helmet-safety"></i></span>
                    <h4 class="mt-4"><a href="#">PROTETCION LINE</a></h4>
                    <p class="mb-0">Etiam ultricies nisi vel augue, nulla ut me varius laoreet. Phasellus viverra nulla ut metus varius.</p>
                </div>
            </div>
            <div class="col">
                <div class="stabil_1_left text-center">
                    <span class="font_60 col_red lh-1"><i class="fa fa-wrench"></i></span>
                    <h4 class="mt-4"><a href="#">CODE BLOCKS</a></h4>
                    <p class="mb-0">Etiam ultricies nisi vel augue, nulla ut me varius laoreet. Phasellus viverra nulla ut metus varius.</p>
                </div>
            </div>
            <div class="col">
                <div class="stabil_1_left text-center">
                    <span class="font_60 col_red lh-1"><i class="fa fa-battery"></i></span>
                    <h4 class="mt-4"><a href="#">NEW STANDARDS</a></h4>
                    <p class="mb-0">Etiam ultricies nisi vel augue, nulla ut me varius laoreet. Phasellus viverra nulla ut metus varius.</p>
                </div>
            </div>
            <div class="col">
                <div class="stabil_1_left text-center">
                    <span class="font_60 col_red lh-1"><i class="fa fa-plug-circle-bolt"></i></span>
                    <h4 class="mt-4"><a href="#">Our Solution</a></h4>
                    <p class="mb-0">Etiam ultricies nisi vel augue, nulla ut me varius laoreet. Phasellus viverra nulla ut metus varius.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="spec_pg">
    <div class="spec_main bg_back_dark pt-5 pb-5">
        <div class="container-xl">
            <div class="row spec_1">
                <div class="col-md-5">
                    <div class="spec_1_left bg_red p-5 text-center">
                        <h3 class="text-white">Turn 14</h3>
                        <hr class="line border_dark">
                        <p class="text-light mt-3">Aliquam Lorem Ante, Dapibus In, Viverra Quis, Feugiat Hellus Rra Null Aut Metus Varius Laoreet Srtrum. Imperdiet E Uricies Vel Augue Dapibus In, Viverra Quis Srtrum Aenean.</p>
                        <h6 class="mt-3 mb-0 text-light">Average Speed:92km/h</h6>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="spec_1_right">
                        <div class="perform_3_left">
                            <h6 class="col_red fs-6 space_4">Ipsum Porta</h6>
                            <h2><a class="text-light link" href="#">adjusts the <br> hydraulic fork</a></h2>
                            <p class="mt-3 text-light">Aliquam lorem ante, dapibus in, viverra quis, feugiat hellus rra null aut metus varius laoreet srtrum. Imperdiet e uricies vel augue dapibus in, viverra quis srtrum aenean. </p>
                            <ul class="mb-0 text-light">
                                <li class="d-flex"><i class="fa fa-check me-3 col_red mt-1"></i> Web & Mobile-Optimized</li>
                                <li class="d-flex mt-2"><i class="fa fa-check me-3 col_red mt-1"></i> Custom Domain Server</li>
                                <li class="d-flex mt-2"><i class="fa fa-check me-3 col_red mt-1"></i> Best Hosting on the Market</li>
                                <li class="d-flex mt-2"><i class="fa fa-check me-3 col_red mt-1"></i> Outstanding Support</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>