<section id="center" class="center_blog">
    <div class="center_om bg_back">
        <div class="container-xl">
            <div class="row center_o1">
                <div class="col-md-12">
                    <h1 class="text-white font_60">Blog</h1>
                    <h6 class="col_red mb-0"><a class="text-light" href="#">Home</a> <span class="mx-2 text-white-50">/</span> Blog</h6>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="blog" class="pt-5 pb-5">
    <div class="container-xl">
        <div class="row blog_1">
            <div class="col-md-9">
                <div class="blog_1_left border-end px-3">
                    <div class="blog_1_left1">
                        <a href="/blog_detail"><img src="/image/21.jpg" alt="abc" class="img-fluid"></a>
                        <h6 class="fs-6 mt-3"><span class="col_red">SEPTEMBER 3, 2019</span> - MOBILE</h6>
                        <h2 class="mt-2"><a href="/blog_detail">PURE ADRENALIN RUSH</a></h2>
                        <p class="mt-2">Lorem ipsum dolor sit amet, sea no tantas consul disputationi, ei his tota legere. Eu affert malorum consequuntur mea, aeque eirmod equidem ea vis. His ea case simul salutatus, te per hinc insolens instructior. Fastidii mentitum mel ex, nam tantas insolens conclusionemque ex, quo ut modus tritani. Enim dolor laoreet ei</p>
                        <ul class="justify-content-between mb-0 fw-bold d-flex">
                            <li><a href="/blog_detail">Read More <i class="fa fa-long-arrow-right ms-2"></i></a></li>
                            <li><a href="/blog_detail"><i class="fa fa-share-alt me-2 col_red align-middle"></i> Share </a></li>
                        </ul>
                    </div>
                    <div class="blog_1_left1 mt-5">
                        <a href="/blog_detail"><img src="/image/22.jpg" alt="abc" class="img-fluid"></a>
                        <h6 class="fs-6 mt-3"><span class="col_red">SEPTEMBER 5, 2019</span> - MOBILE</h6>
                        <h2 class="mt-2"><a href="/blog_detail">ANNOUNCES RETURNING 2020</a></h2>
                        <p class="mt-2">Lorem ipsum dolor sit amet, sea no tantas consul disputationi, ei his tota legere. Eu affert malorum consequuntur mea, aeque eirmod equidem ea vis. His ea case simul salutatus, te per hinc insolens instructior. Fastidii mentitum mel ex, nam tantas insolens conclusionemque ex, quo ut modus tritani. Enim dolor laoreet ei</p>
                        <ul class="justify-content-between mb-0 fw-bold d-flex">
                            <li><a href="/blog_detail">Read More <i class="fa fa-long-arrow-right ms-2"></i></a></li>
                            <li><a href="/blog_detail"><i class="fa fa-share-alt me-2 col_red align-middle"></i> Share </a></li>
                        </ul>
                    </div>
                    <div class="blog_1_left1 mt-5">
                        <a href="/blog_detail"><img src="/image/23.jpg" alt="abc" class="img-fluid"></a>
                        <h6 class="fs-6 mt-3"><span class="col_red">SEPTEMBER 9, 2019</span> - MOBILE</h6>
                        <h2 class="mt-2"><a href="/blog_detail">MOTOGP SILVERSTONE RESULTS 2019</a></h2>
                        <p class="mt-2">Lorem ipsum dolor sit amet, sea no tantas consul disputationi, ei his tota legere. Eu affert malorum consequuntur mea, aeque eirmod equidem ea vis. His ea case simul salutatus, te per hinc insolens instructior. Fastidii mentitum mel ex, nam tantas insolens conclusionemque ex, quo ut modus tritani. Enim dolor laoreet ei</p>
                        <ul class="justify-content-between mb-0 fw-bold d-flex">
                            <li><a href="/blog_detail">Read More <i class="fa fa-long-arrow-right ms-2"></i></a></li>
                            <li><a href="/blog_detail"><i class="fa fa-share-alt me-2 col_red align-middle"></i> Share </a></li>
                        </ul>
                    </div>
                    <div class="blog_1_left2 mt-5">
                        <ul class="mt-3 mb-0  paginate text-center fw-bold">
                            <li class="d-inline-block"><a class="border d-block" href="/blog_detail"><i class="fa fa-chevron-left"></i> </a></li>
                            <li class="d-inline-block"><a class="border d-block active" href="/blog_detail">1</a></li>
                            <li class="d-inline-block"><a class="border d-block" href="/blog_detail">2</a></li>
                            <li class="d-inline-block"><a class="border d-block" href="/blog_detail">3</a></li>
                            <li class="d-inline-block"><a class="border d-block" href="/blog_detail">4</a></li>
                            <li class="d-inline-block"><a class="border d-block" href="/blog_detail">5</a></li>
                            <li class="d-inline-block"><a class="border d-block" href="/blog_detail">6</a></li>
                            <li class="d-inline-block"><a class="border d-block" href="/blog_detail"><i class="fa fa-chevron-right"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="blog_1_right">
                    <div class="blog_1_right1 center_sm">
                        <a href="/blog_detail"><img src="/image/24.jpg" alt="abc" class="img-fluid"></a>
                        <h4 class="mt-3">ABOUT ME</h4>
                        <p class="mb-0 mt-3">Lorem ipsum dolor sit amet, conse ctetuer adipiscing elit, sed diam nonum nibhie. Aenean sollici tudin, lorem auci elit consequat ipsutis sem niuis sed odio it amet nibh vulputate cursus. Ad per labores accusam.</p>
                        <div class="input-group mt-4">
                            <input type="text" class="form-control" placeholder="Search Keyword">
                            <span class="input-group-btn">
				<button class="btn btn-primary bg_red border-0 rounded-0 p-3 px-4" type="button">
					<i class="fa fa-search"></i> </button>
			</span>
                        </div>
                    </div>
                    <div class="blog_1_right1 mt-5">
                        <h4 class="mb-4 border_thick ps-3">CATEGORIES</h4>
                        <ul class="mb-0">
                            <li class="border-bottom pb-2 mb-2"><a class="justify-content-between d-flex" href="/blog_detail">CREATIVE <span>(2)</span></a></li>

                            <li class="border-bottom pb-2 mb-2"><a  class="justify-content-between d-flex" href="/blog_detail">Design <span>(3)</span></a></li>

                            <li class="border-bottom pb-2 mb-2"><a  class="justify-content-between d-flex" href="/blog_detail">Innovation <span>(4)</span></a></li>

                            <li class="border-bottom pb-2 mb-2"><a  class="justify-content-between d-flex" href="/blog_detail">Lifestyle <span>(1)</span></a></li>

                            <li class="border-bottom pb-2 mb-2"><a  class="justify-content-between d-flex" href="/blog_detail">People <span>(5)</span></a></li>

                            <li class="border-bottom pb-2 mb-2"><a  class="justify-content-between d-flex" href="/blog_detail">Trackday <span>(9)</span></a></li>

                            <li class="border-bottom pb-2 mb-2"><a  class="justify-content-between d-flex" href="/blog_detail">Mobile <span>(7)</span></a></li>

                            <li><a  class="justify-content-between d-flex" href="/blog_detail">Tour & Travel <span>(6)</span></a></li>
                        </ul>
                    </div>
                    <div class="blog_1_right1 mt-5">
                        <h4 class="mb-4 border_thick ps-3">LATEST POSTS</h4>
                        <ul class="mb-0">
                            <li class="d-flex px-3 justify-content-between">
		 <span class="flex-column me-3">
		 <b class="fs-6 d-block col_red">JULY 3, 2019</b>
		 <span class="d-block mt-1"><a href="#">TOP 100 BLOGS -MOTORCYCLE</a></span>
		 </span>
                                <a href="/blog_detail"><img width="100"  alt="abc" src="/image/4.jpg"></a>
                            </li>
                            <li><hr></li>
                            <li class="d-flex px-3 justify-content-between">
		 <span class="flex-column me-3">
		 <b class="fs-6 d-block col_red">JULY 5, 2019</b>
		 <span class="d-block mt-1"><a href="#">NEW V-TWIN SPORTBIKE</a></span>
		 </span>
                                <a href="/blog_detail"><img width="100"  alt="abc" src="/image/5.jpg"></a>
                            </li>
                            <li><hr></li>
                            <li class="d-flex px-3 justify-content-between">
		 <span class="flex-column me-3">
		 <b class="fs-6 d-block col_red">JULY 8, 2019</b>
		 <span class="d-block mt-1"><a href="#">AN ARTISTIC REVIEW OF ’19</a></span>
		 </span>
                                <a href="/blog_detail"><img width="100"  alt="abc" src="/image/6.jpg"></a>
                            </li>
                        </ul>
                    </div>
                    <div class="blog_1_right1 mt-5">
                        <h4 class="mb-4 border_thick ps-3">Social Links</h4>
                        <div class="row blog_1_right1_inner row-cols-1 row-cols-sm-2 row-cols-md-3">
                            <div class="col p-0">
                                <div class="blog_1_right1_inner_left">
                                    <a href="/blog_detail"><img src="/image/12.jpg" alt="abc" class="img-fluid"></a>
                                </div>
                            </div>
                            <div class="col p-0">
                                <div class="blog_1_right1_inner_left">
                                    <a href="/blog_detail"><img src="/image/13.jpg" alt="abc" class="img-fluid"></a>
                                </div>
                            </div>
                            <div class="col p-0">
                                <div class="blog_1_right1_inner_left">
                                    <a href="/blog_detail"><img src="/image/14.jpg" alt="abc" class="img-fluid"></a>
                                </div>
                            </div>
                            <div class="col p-0">
                                <div class="blog_1_right1_inner_left">
                                    <a href="/blog_detail"><img src="/image/15.jpg" alt="abc" class="img-fluid"></a>
                                </div>
                            </div>
                            <div class="col p-0">
                                <div class="blog_1_right1_inner_left">
                                    <a href="/blog_detail"><img src="/image/16.jpg" alt="abc" class="img-fluid"></a>
                                </div>
                            </div>
                            <div class="col p-0">
                                <div class="blog_1_right1_inner_left">
                                    <a href="/blog_detail"><img src="/image/17.jpg" alt="abc" class="img-fluid"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="blog_1_right1 mt-5">
                        <h4 class="mb-4 border_thick ps-3">Tags</h4>
                        <ul class="mb-0 tags">
                            <li class="d-inline-block"><a href="/blog_detail">ABSTRACT</a></li>
                            <li class="d-inline-block"><a href="/blog_detail">Apps</a></li>
                            <li class="d-inline-block"><a href="/blog_detail">ART</a></li>
                            <li class="d-inline-block"><a href="/blog_detail">Blogging</a></li>
                            <li class="d-inline-block"><a href="/blog_detail">CREATIV</a></li>
                            <li class="d-inline-block"><a href="/blog_detail">Future</a></li>
                            <li class="d-inline-block"><a href="/blog_detail">MOTO SPORT</a></li>
                            <li class="d-inline-block"><a href="/blog_detail">Trackday</a></li>
                        </ul>
                    </div>
                    <div class="blog_1_right1 mt-5">
                        <h4 class="mb-4 border_thick ps-3">NEWSLETTER</h4>
                        <p>Aliqm lorem ante, dapibus in, viverra feugiat phasellus.</p>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Your Email">
                            <span class="input-group-btn">
				<button class="btn btn-primary bg_red border-0 rounded-0 p-3 px-4" type="button">
					<i class="fa fa-envelope"></i> </button>
			</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>