

<section id="center" class="center_price">
    <div class="center_om bg_back">
        <div class="container-xl">
            <div class="row center_o1">
                <div class="col-md-12">
                    <h1 class="text-white font_60">Pricing</h1>
                    <h6 class="col_red mb-0"><a class="text-light" href="#">Home</a> <span class="mx-2 text-white-50">/</span> Pricing</h6>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="price" class="pt-5 pb-5">
    <div class="container-xl">
        <div class="row perform_1 mb-5">
            <div class="col-md-6">
                <div class="perform_1_left text-end border-end px-4">
                    <h2 class="mb-0">
                        ALL OUR PAYMENT  <br> OPTIONS </h2>
                </div>
            </div>
            <div class="col-md-6">
                <div class="perform_1_right">
                    <span class="fs-5 space_4 col_red fw-bold space_margin d-inline-block">SPECIFICATIONS</span>
                </div>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 price_1">
            <div class="col">
                <div class="price_1_left p-5 border_light">
                    <h6 class="fs-6 col_red">EXTENDED LICENCSE</h6>
                    <h2>BASIC</h2>
                    <h4><span class="my-auto">$</span> <span class="font_60">17</span></h4>
                    <ul class="family_1 fw-normal">
                        <li class="d-flex"><i class="fa fa-check col_red  me-3 mt-1"></i> Web & Mobile-Optimized</li>
                        <li class="d-flex mt-3"><i class="fa fa-check col_red  me-3 mt-1"></i>  Custom Domain Server</li>
                        <li class="d-flex mt-3"><i class="fa fa-check col_red  me-3 mt-1"></i>  Best Hosting on the Market</li>
                        <li class="d-flex mt-3"><i class="fa fa-check col_red  me-3 mt-1"></i>    Outstanding Support</li>
                    </ul>
                    <h6 class="mb-0 mt-4 text-center"><a class="button button_black" href="#">Purchase <i class="fa fa-long-arrow-right ms-2"></i></a></h6>
                </div>
            </div>
            <div class="col">
                <div class="price_1_left p-5 border_light">
                    <h6 class="fs-6 col_red">EXTENDED LICENCSE</h6>
                    <h2>ESSENTIAL</h2>
                    <h4><span class="my-auto">$</span> <span class="font_60">35</span></h4>
                    <ul class="family_1 fw-normal">
                        <li class="d-flex"><i class="fa fa-check col_red  me-3 mt-1"></i> Web & Mobile-Optimized</li>
                        <li class="d-flex mt-3"><i class="fa fa-check col_red  me-3 mt-1"></i>  Custom Domain Server</li>
                        <li class="d-flex mt-3"><i class="fa fa-check col_red  me-3 mt-1"></i>  Best Hosting on the Market</li>
                        <li class="d-flex mt-3"><i class="fa fa-check col_red  me-3 mt-1"></i>    Outstanding Support</li>
                    </ul>
                    <h6 class="mb-0 mt-4 text-center"><a class="button" href="#">Purchase <i class="fa fa-long-arrow-right ms-2"></i></a></h6>
                </div>
            </div>
            <div class="col">
                <div class="price_1_left p-5 border_light">
                    <h6 class="fs-6 col_red">EXTENDED LICENCSE</h6>
                    <h2>PREMIUM</h2>
                    <h4><span class="my-auto">$</span> <span class="font_60">66</span></h4>
                    <ul class="family_1 fw-normal">
                        <li class="d-flex"><i class="fa fa-check col_red  me-3 mt-1"></i> Web & Mobile-Optimized</li>
                        <li class="d-flex mt-3"><i class="fa fa-check col_red  me-3 mt-1"></i>  Custom Domain Server</li>
                        <li class="d-flex mt-3"><i class="fa fa-check col_red  me-3 mt-1"></i>  Best Hosting on the Market</li>
                        <li class="d-flex mt-3"><i class="fa fa-check col_red  me-3 mt-1"></i>    Outstanding Support</li>
                    </ul>
                    <h6 class="mb-0 mt-4 text-center"><a class="button button_black" href="#">Purchase <i class="fa fa-long-arrow-right ms-2"></i></a></h6>
                </div>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 price_1 mt-5">
            <div class="col">
                <div class="price_1_left p-5 border_light">
                    <h6 class="fs-6 col_red">EXTENDED LICENCSE</h6>
                    <h2>BASIC</h2>
                    <h4><span class="my-auto">$</span> <span class="font_60">17</span></h4>
                    <ul class="family_1 fw-normal">
                        <li class="d-flex"><i class="fa fa-check col_red  me-3 mt-1"></i> Web & Mobile-Optimized</li>
                        <li class="d-flex mt-3"><i class="fa fa-check col_red  me-3 mt-1"></i>  Custom Domain Server</li>
                        <li class="d-flex mt-3"><i class="fa fa-check col_red  me-3 mt-1"></i>  Best Hosting on the Market</li>
                        <li class="d-flex mt-3"><i class="fa fa-check col_red  me-3 mt-1"></i>    Outstanding Support</li>
                    </ul>
                    <h6 class="mb-0 mt-4 text-center"><a class="button button_black" href="#">Purchase <i class="fa fa-long-arrow-right ms-2"></i></a></h6>
                </div>
            </div>
            <div class="col">
                <div class="price_1_left p-5 border_light">
                    <h6 class="fs-6 col_red">EXTENDED LICENCSE</h6>
                    <h2>ESSENTIAL</h2>
                    <h4><span class="my-auto">$</span> <span class="font_60">35</span></h4>
                    <ul class="family_1 fw-normal">
                        <li class="d-flex"><i class="fa fa-check col_red  me-3 mt-1"></i> Web & Mobile-Optimized</li>
                        <li class="d-flex mt-3"><i class="fa fa-check col_red  me-3 mt-1"></i>  Custom Domain Server</li>
                        <li class="d-flex mt-3"><i class="fa fa-check col_red  me-3 mt-1"></i>  Best Hosting on the Market</li>
                        <li class="d-flex mt-3"><i class="fa fa-check col_red  me-3 mt-1"></i>    Outstanding Support</li>
                    </ul>
                    <h6 class="mb-0 mt-4 text-center"><a class="button" href="#">Purchase <i class="fa fa-long-arrow-right ms-2"></i></a></h6>
                </div>
            </div>
            <div class="col">
                <div class="price_1_left p-5 border_light">
                    <h6 class="fs-6 col_red">EXTENDED LICENCSE</h6>
                    <h2>PREMIUM</h2>
                    <h4><span class="my-auto">$</span> <span class="font_60">66</span></h4>
                    <ul class="family_1 fw-normal">
                        <li class="d-flex"><i class="fa fa-check col_red  me-3 mt-1"></i> Web & Mobile-Optimized</li>
                        <li class="d-flex mt-3"><i class="fa fa-check col_red  me-3 mt-1"></i>  Custom Domain Server</li>
                        <li class="d-flex mt-3"><i class="fa fa-check col_red  me-3 mt-1"></i>  Best Hosting on the Market</li>
                        <li class="d-flex mt-3"><i class="fa fa-check col_red  me-3 mt-1"></i>    Outstanding Support</li>
                    </ul>
                    <h6 class="mb-0 mt-4 text-center"><a class="button button_black" href="#">Purchase <i class="fa fa-long-arrow-right ms-2"></i></a></h6>
                </div>
            </div>
        </div>
    </div>
</section>
