
        <main class="col-md-9 ms-sm-auto common col-lg-10 px-md-4">
            <div class="row crm_1 mb-3">
                <div class="col-md-3">
                    <div class="analytic_1l">
                        <h5 class="mb-0">Billing</h5>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="crm_1r pull-right">
                        <ul class="mb-0">
                            <li class="col_3 d-inline-block"><a href="#">Lorem</a> <i style="margin-left:5px; vertical-align:middle;" class="fa fa-chevron-right"></i></li>
                            <li class="col_3 d-inline-block"><a href="#">eCommerce</a> <i style="margin-left:5px; vertical-align:middle;" class="fa fa-chevron-right"></i></li>
                            <li class="col_3 d-inline-block"> Billing</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row billing">
                <div class="col-md-12">
                    <div class="billing_i bg-white" style="padding:20px 15px; border-radius:5px; box-shadow: 0px 0px 8px 1px #d8e2ef; border:1px solid #d8e2ef;">
                        <h4 style="font-size: 1.728rem;">Get started with your free trial</h4>
                        <p>Premium team - 5 Seats. Free for 30 days, cancel at any time.<br>
                            $6.25 / seat month after a trial</p>
                        <div class="dropdown mb-0"><button class="btn btn-link dropdown-toggle ps-0 btn-sm" id="change-plan" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Change plan</button>
                            <div class="dropdown-menu" style="min-width: 15rem;">
                                <div class="drop_i" style="padding:20px 15px;">
                                    <h6 class="text_13 bold mb-3">Standard License <span class="float-end">$57.0</span></h6>
                                    <p style="margin-left:10px;" class="mb-0 text_13"><i style="font-size:6px; vertical-align:middle; margin-right:5px;" class="fa fa-circle"></i> Use for a single product</p>
                                    <p style="margin-left:10px;" class="text_13 mb-2"><i style="font-size:6px; vertical-align:middle; margin-right:5px;" class="fa fa-circle"></i> Non-paying users only</p>
                                    <p class="mb-0 text_12">Read the full <a class="colo_4" href="#">Standard License</a></p>
                                </div>
                                <div class="drop_i" style="border-top:1px solid #d8e2ef; padding:20px 15px;">
                                    <h6 class="text_13 bold mb-3">Extended License <span class="float-end">$88.0</span></h6>
                                    <p style="margin-left:10px;" class="mb-0 text_13"><i style="font-size:6px; vertical-align:middle; margin-right:5px;" class="fa fa-circle"></i> Unlimited websites</p>
                                    <p style="margin-left:10px;" class="text_13 mb-2"><i style="font-size:6px; vertical-align:middle; margin-right:5px;" class="fa fa-circle"></i> Paying users allowed</p>
                                    <p class="mb-0 text_12">Read the full <a class="colo_4" href="#">Extended License</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row billing_1 mt-3">
                <div class="col-lg-8 col-md-12">
                    <div class="billing_1l">
                        <div class="billing_1li bg-white row_space_4 p-3">
                            <h5 class="mb-0">Billing Details</h5>
                        </div>
                        <div class="billing_1li1 bg-light row_space_5 p-3">
                            <input class="form-check-input" id="address-3" type="radio" name="clientName">
                            <h5 style="margin-left:5px; font-size:1.2rem;" class="d-inline-block colo_8 mb-0"><i class="fa fa-paypal colo_4"></i> Paypal</h5>
                            <p class="text_13 mt-1">Pay with PayPal, Apple Pay, PayPal Credit and much more</p>
                            <input class="form-check-input" id="address-4" type="radio" checked="checked" name="clientName">
                            <h5 style="margin-left:5px; font-size:1.2rem;" class="d-inline-block colo_8 mb-0"> Credit Card</h5>
                            <p class="text_13 mt-1">Pay with PayPal, Apple Pay, PayPal Credit and much more</p>
                            <div class="checkout_1l1ili row mt-4">
                                <div class="col-md-6">
                                    <div class="checkout_1l1ilil">
                                        <h6 class="fonr_14 colo_8">CARD NUMBER</h6>
                                        <input class="form-control" type="text" placeholder="XXXX XXXX XXXX XXXX">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="checkout_1l1ilil">
                                        <h6 class="fonr_14 colo_8">NAME OF CARD</h6>
                                        <input class="form-control" type="text" placeholder="Eget Nulla">
                                    </div>
                                </div>
                            </div>
                            <div class="checkout_1l1ili row mt-3">
                                <div class="col-md-3">
                                    <div class="checkout_1l1ilil">
                                        <h6 class="fonr_14 colo_8">COUNTRY</h6>
                                        <input class="form-control" type="text" placeholder="Country">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="checkout_1l1ilil">
                                        <h6 class="fonr_14 colo_8">ZIP CODE</h6>
                                        <input class="form-control" type="text" placeholder="1234">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="checkout_1l1ilil">
                                        <h6 class="fonr_14 colo_8">EXP DATE</h6>
                                        <input class="form-control" type="text" placeholder="16/2027">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="checkout_1l1ilil">
                                        <h6 class="fonr_14 colo_8">CVV <span class="bold">?</span></h6>
                                        <input class="form-control" type="text" placeholder="123">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-8">
                    <div class="billing_1r">
                        <div class="billing_1ri bg-white row_space_4 p-3">
                            <h5 class="mb-0">Billing</h5>
                        </div>
                        <div class="billing_1ri1 bg-light row_space_5 p-3">
                            <select class="form-select mb-3">
                                <option selected="">Monthly Plan</option>
                                <option value="1">Annual Plan</option>
                            </select>

                            <p class="text_13 mb-2">Due in 40 days <span class="float-end">$395.00</span></p>
                            <p class="text_13 colo_2">Annual saving <span class="float-end">$65.00/yr</span></p>
                            <hr style="background-color:#9da9bb;">
                            <h5 style="font-size: 1.2rem;">Due in 40 days <span class="float-end">$395.00</span></h5>
                            <p class="text_13">Once you start your trial, you will have 30 days to use Falcon Premium for free. After 30 days you’ll be charged based on your selected plan.</p>
                            <button class="btn btn-primary d-block w-100" type="submit"><i style=" margin-right:5px;" class="fa fa-lock"></i> Start free trial</button>
                            <p class="text_12 mt-3 text-center mb-0">By continuing, you are agreeing to our subscriber <a class="colo_4" href="#">terms</a> and will be charged at the end of the trial.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row billing_2 mt-3">
                <div class="col-md-12">
                    <div class="billing_2i bg-white row_space_4 p-3">
                        <h5 class="mb-0">Frequently asked questions</h5>
                    </div>
                </div>
            </div>

            <div class="billing_3 bg-light row m-0"  style="padding:20px 0px; box-shadow: 0px 0px 8px 1px #d8e2ef;">
                <div class="col-md-6">
                    <div class="billing_3il">
                        <h6 style="font-size:1rem;">How does Falcon's pricing work?</h6>
                        <p class="text_13">The free version of Falcon is available for teams of up to 15 people. Our Falcon Premium plans of 15 or fewer qualify for a small team discount. As your team grows to 20 users or more and gets more value out of Falcon, you'll get closer to our standard monthly price per seat. The price of a paid Falcon plan is tiered, starting in groups of 5 and 10 users, based on the number of people you have in your Team or Organization.</p>
                        <h6 style="font-size:1rem;">What forms of payment do you accept?</h6>
                        <p class="text_13">You can purchase Falcon with any major credit card. For annual subscriptions, we can issue an invoice payable by bank transfer or check. Please contact us to arrange an invoice purchase. Monthly purchases must be paid for by credit card.</p>
                        <h6 style="font-size:1rem;">We need to add more people to our team. How will that be billed?</h6>
                        <p class="text_13">You can add as many new teammates as you need before changing your subscription. We will subsequently ask you to correct your subscription to cover current usage.</p>
                        <h6 style="font-size:1rem;">How secure is Admin Panel?</h6>
                        <p class="text_13 mb-0">Protecting the data you trust to Falcon is our first priority. Falcon uses physical, procedural, and technical safeguards to preserve the integrity and security of your information. We regularly back up your data to prevent data loss and aid in recovery. Additionally, we host data in secure SSAE 16 / SOC1 certified data centers, implement firewalls and access restrictions on our servers to better protect your information, and work with third party security researchers to ensure our practices are secure.</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="billing_3il">
                        <h6 style="font-size:1rem;">How does Falcon's pricing work?</h6>
                        <p class="text_13">The free version of Falcon is available for teams of up to 15 people. Our Falcon Premium plans of 15 or fewer qualify for a small team discount. As your team grows to 20 users or more and gets more value out of Falcon, you'll get closer to our standard monthly price per seat. The price of a paid Falcon plan is tiered, starting in groups of 5 and 10 users, based on the number of people you have in your Team or Organization.</p>
                        <h6 style="font-size:1rem;">What forms of payment do you accept?</h6>
                        <p class="text_13">You can purchase Falcon with any major credit card. For annual subscriptions, we can issue an invoice payable by bank transfer or check. Please contact us to arrange an invoice purchase. Monthly purchases must be paid for by credit card.</p>
                        <h6 style="font-size:1rem;">We need to add more people to our team. How will that be billed?</h6>
                        <p class="text_13">You can add as many new teammates as you need before changing your subscription. We will subsequently ask you to correct your subscription to cover current usage.</p>
                        <h6 style="font-size:1rem;">How secure is Admin Panel?</h6>
                        <p class="text_13 mb-0">Protecting the data you trust to Falcon is our first priority. Falcon uses physical, procedural, and technical safeguards to preserve the integrity and security of your information. We regularly back up your data to prevent data loss and aid in recovery. Additionally, we host data in secure SSAE 16 / SOC1 certified data centers, implement firewalls and access restrictions on our servers to better protect your information, and work with third party security researchers to ensure our practices are secure.</p>
                    </div>
                </div>
            </div>

            <div class="billing_4 row">
                <div class="col-md-12">
                    <div class="billing_4i text-center bg-white" style="padding:20px 15px;  border-radius:0px 0px 5px 5px;">
                        <h6 style="font-size:1rem;">Have more questions?</h6>
                        <h6 style="margin-top:15px;"><a style="border:1px solid #9da9bb;" class="colo_4 button_new mb-0" href="#"> Ask us anything</a></h6>
                    </div>
                </div>
            </div>


            <div class="row footer mt-4" style="border-top:1px solid #ddd; padding-top:20px;">
                <div class="col-md-8">
                    <div class="footer_1l">
                        <p class="mb-0 col_3">© 2013 Your Website Name. All Rights Reserved | Design by <a class="col_1 font-weight-bold" href="http://www.templateonweb.com">TemplateOnWeb</a></p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="footer_1r" style="text-align:right;">
                        <ul>
                            <li class="d-inline font_14"><a class="col_3" href="#">About </a></li>
                            <li class="d-inline font_14"><a class="col_3" href="#">Support </a></li>
                            <li class="d-inline font_14"><a class="col_3" href="#">Contact Us </a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </main>
