
        <main class="col-md-9 ms-sm-auto common col-lg-10 px-md-4">
            <div class="row crm_1 mb-3">
                <div class="col-md-3">
                    <div class="analytic_1l">
                        <h5 class="mb-0">Order Details</h5>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="crm_1r pull-right">
                        <ul class="mb-0">
                            <li class="col_3 d-inline-block"><a href="#">Lorem</a> <i style="margin-left:5px; vertical-align:middle;" class="fa fa-chevron-right"></i></li>
                            <li class="col_3 d-inline-block"><a href="#">eCommerce</a> <i style="margin-left:5px; vertical-align:middle;" class="fa fa-chevron-right"></i></li>
                            <li class="col_3 d-inline-block"> Order Details</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row order_dn bg-white m-0 p-3 row_space_1">
                <div class="col-md-12">
                    <h5>Order Details: #2230</h5>
                    <h6 class="normal text_13">April 27, 2018, 4:38 PM</h6>
                    <h6 class="mb-0">Status: <span style="margin-top:8px; color:#00864e; background:#ccf6e4; margin-left:5px; font-size:11px;" class="badge_1">Completed <i class="fa fa-check"></i></span></h6>
                </div>
            </div>

            <div class="row order_dn1 bg-white m-0 mt-3 p-3 row_space_1">
                <div class="col-md-4">
                    <div class="order_dn1i">
                        <h6>Billing Address</h6>
                        <h6 class="text_13">Semp Porta</h6>
                        <p class="mb-0 text_13">1273 Event Avenue<br>
                            Porta, Old Jersey 12345</p>
                        <p class="mb-0 text_13 mt-1"><span class="bold">Email:</span> <a class="colo_4" href="#">info@gmail.com</a><br>

                            <span class="bold">Phone:</span> <a class="colo_4" href="#">+91 12-3456-7890</a></p>

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="order_dn1i">
                        <h6>Shipping Address</h6>
                        <h6 class="text_13">Semp Porta</h6>
                        <p class="mb-0 text_13">1273 Event Avenue<br>
                            Porta, Old Jersey 12345</p>
                        <p class="mb-0 text_13 colo_1">(Free Shipping)</p>

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="order_dn1i">
                        <h6>Payment Method</h6>
                        <i style="margin-right:15px; font-size:26px; display:inline-block; float:left;" class="fa fa-credit-card colo_4"></i>
                        <h6 class="text_13"> Semp Porta <br><span class="colo_1 normal">**** **** **** 1234</span></h6>

                    </div>
                </div>
            </div>

            <div class="row order_dn2 bg-white m-0 mt-3 p-3 row_space_1">
                <div class="col-md-12">
                    <div class="table-responsive order_dn2i table_tow">
                        <table class="table table-border align-middle" style="border: 1px solid #deedff;">
                            <thead>
                            <tr>
                                <th scope="col"> Products</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Rate</th>
                                <th scope="col">Amount</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr style="border-bottom:1px solid #d8e2ef;">
                                <td>
                                    <p class="text_13 mb-0"><span class="bold">Platinum web hosting package9</span><br>
                                        Down 35mb, Up 100mb</p>
                                </td>
                                <td>
                                    <h6 class="mb-0 normal text_13">3</h6>
                                </td>
                                <td>
                                    <h6 class="mb-0 normal text_13">$50.00	</h6>
                                </td>
                                <td>
                                    <h6 class="mb-0 normal text_13">$150.00	</h6>
                                </td>

                            </tr>
                            <tr class="bg-light" style="border-bottom:1px solid #d8e2ef;">
                                <td>
                                    <p class="text_13 mb-0"><span class="bold">Platinum web hosting package9</span><br>
                                        Down 35mb, Up 100mb</p>
                                </td>
                                <td>
                                    <h6 class="mb-0 normal text_13">3</h6>
                                </td>
                                <td>
                                    <h6 class="mb-0 normal text_13">$50.00	</h6>
                                </td>
                                <td>
                                    <h6 class="mb-0 normal text_13">$150.00	</h6>
                                </td>

                            </tr>
                            <tr style="border-bottom:1px solid #d8e2ef;">
                                <td>
                                    <p class="text_13 mb-0"><span class="bold">Platinum web hosting package9</span><br>
                                        Down 35mb, Up 100mb</p>
                                </td>
                                <td>
                                    <h6 class="mb-0 normal text_13">3</h6>
                                </td>
                                <td>
                                    <h6 class="mb-0 normal text_13">$50.00	</h6>
                                </td>
                                <td>
                                    <h6 class="mb-0 normal text_13">$150.00	</h6>
                                </td>

                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="order_dn2i1 row">
                        <div class="col-md-9">
                            <div class="order_dn2i1l"></div>
                        </div>
                        <div class="col-md-3">
                            <div class="order_dn2i1r" style="text-align:right;">
                                <h6 class="text_13">Subtotal:	<span style="margin-left:5px;" class="col_3">$450.00</span></h6>
                                <h6 class="text_13">Tax 5%:	<span style="margin-left:5px;" class="col_3">$22.50</span></h6>
                                <hr style="width:55%; margin-left:auto; margin-top:5px; margin-bottom:5px;">
                                <h6 class="text_13 mb-0">Total:	<span style="margin-left:5px;" class="col_3">$472.50</span></h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row footer mt-4" style="border-top:1px solid #ddd; padding-top:20px;">
                <div class="col-md-8">
                    <div class="footer_1l">
                        <p class="mb-0 col_3">© 2013 Your Website Name. All Rights Reserved | Design by <a class="col_1 font-weight-bold" href="http://www.templateonweb.com">TemplateOnWeb</a></p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="footer_1r" style="text-align:right;">
                        <ul>
                            <li class="d-inline font_14"><a class="col_3" href="#">About </a></li>
                            <li class="d-inline font_14"><a class="col_3" href="#">Support </a></li>
                            <li class="d-inline font_14"><a class="col_3" href="#">Contact Us </a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </main>
