
        <main class="col-md-9 ms-sm-auto common col-lg-10 px-md-4">
            <div class="row crm_1">
                <div class="col-md-3">
                    <div class="analytic_1l">
                        <h5 class="mb-0">Sellers</h5>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="crm_1r pull-right">
                        <ul>
                            <li class="col_3 d-inline-block"><a href="#">Lorem</a> <i style="margin-left:5px; vertical-align:middle;" class="fa fa-chevron-right"></i></li>
                            <li class="col_3 d-inline-block"><a href="#">eCommerce</a> <i style="margin-left:5px; vertical-align:middle;" class="fa fa-chevron-right"></i></li>
                            <li class="col_3 d-inline-block">Sellers</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row prod_1 m-0 bg-white">
                <div class="col-md-4">
                    <div class="prod_1l">
                        <h6><a class="buttton_1" href="#">Add Sellers <i class="fa fa-plus-circle"></i></a></h6>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="prod_1r" style="text-align:right;">
                        <button type="submit" class="btn btn-primary bg_1"><i class="fa fa-cog"></i></button>
                        <button type="submit" class="btn btn-light">Import</button>
                        <button type="submit" class="btn btn-light">Export</button>
                    </div>
                </div>
                <div class="prod_1i mt-3 row">
                    <div class="col-md-6">
                        <div class="prod_1il">
                            <h6 class="d-inline-block">Display</h6>
                            <select style="width:100px; display:inline-block; height:38px; margin-left:5px; margin-right:5px;" class="form-select form-select-sm ms-1 me-1"><option value="5">5</option><option value="10">10</option><option value="20">20</option><option value="-1">All</option></select>
                            <h6 class="d-inline-block">Sellers</h6>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="prod_1ir" style="text-align:right;">
                            <h6 class="d-inline-block">Search:</h6>
                            <input class="form-control" type="text" style="width:200px; display:inline-block; margin-left:5px;">
                        </div>
                    </div>
                </div>
                <div class="table-responsive table_tow">
                    <table class="table table-striped mt-2 align-middle" style="border: 1px solid #deedff;">
                        <thead>
                        <tr>
                            <th scope="col"><div class="form-check"><input type="checkbox" class="form-check-input dt-checkboxes"><label class="form-check-label">&nbsp;</label></div></th>
                            <th scope="col">Seller</th>
                            <th scope="col">Store Name</th>
                            <th scope="col">Products</th>
                            <th scope="col">Wallet Balance</th>
                            <th scope="col">Create Date</th>
                            <th scope="col">Revenue</th>
                            <th scope="col">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><div class="form-check"><input type="checkbox" class="form-check-input dt-checkboxes"><label class="form-check-label">&nbsp;</label></div> </td>
                            <td>
                                <img style="width:40px; height:40px; border-radius:50%; float:left; margin-right:10px;" src="img/1.jpg" alt="abc">
                                <h6 class="font_14 col_3">Semp Port</h6>

                            </td>
                            <td>
                                <h6 class="font_14 col_3">Insulore</h6>
                            </td>
                            <td>
                                <h6 class="font_14 col_3">765</h6>
                            </td>
                            <td>
                                <h6 class="font_14 col_3">$380,251</h6>
                            </td>
                            <td>
                                <h6 class="font_14 col_3">07/07/2018</h6>
                            </td>
                            <td>
                                <h6 class="font_14 col_3">Graph</h6>
                            </td>

                            <td>
                                <h6 data-bs-toggle="tooltip" data-bs-placement="left" data-bs-original-title="Edit" class="d-inline-block mb-0"><a href="#"><i style="vertical-align:middle; margin-right:5px;" class="fa fa-edit col_3"></i></a></h6>
                                <h6 data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Delete" class="d-inline-block mb-0"><a href="#"><i class="fa fa-trash col_3"></i></a></h6>

                            </td>
                        </tr>
                        <tr>
                            <td><div class="form-check"><input type="checkbox" class="form-check-input dt-checkboxes"><label class="form-check-label">&nbsp;</label></div> </td>
                            <td>
                                <img style="width:40px; height:40px; border-radius:50%; float:left; margin-right:10px;" src="img/7.jpg" alt="abc">
                                <h6 class="font_14 col_3">Semp Port</h6>

                            </td>
                            <td>
                                <h6 class="font_14 col_3">Insulore</h6>
                            </td>
                            <td>
                                <h6 class="font_14 col_3">765</h6>
                            </td>
                            <td>
                                <h6 class="font_14 col_3">$380,251</h6>
                            </td>
                            <td>
                                <h6 class="font_14 col_3">07/07/2018</h6>
                            </td>
                            <td>
                                <h6 class="font_14 col_3">Graph</h6>
                            </td>

                            <td>
                                <h6 data-bs-toggle="tooltip" data-bs-placement="left" data-bs-original-title="Edit" class="d-inline-block mb-0"><a href="#"><i style="vertical-align:middle; margin-right:5px;" class="fa fa-edit col_3"></i></a></h6>
                                <h6 data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Delete" class="d-inline-block mb-0"><a href="#"><i class="fa fa-trash col_3"></i></a></h6>

                            </td>
                        </tr>
                        <tr>
                            <td><div class="form-check"><input type="checkbox" class="form-check-input dt-checkboxes"><label class="form-check-label">&nbsp;</label></div> </td>
                            <td>
                                <img style="width:40px; height:40px; border-radius:50%; float:left; margin-right:10px;" src="img/8.jpg" alt="abc">
                                <h6 class="font_14 col_3">Semp Port</h6>

                            </td>
                            <td>
                                <h6 class="font_14 col_3">Insulore</h6>
                            </td>
                            <td>
                                <h6 class="font_14 col_3">765</h6>
                            </td>
                            <td>
                                <h6 class="font_14 col_3">$380,251</h6>
                            </td>
                            <td>
                                <h6 class="font_14 col_3">07/07/2018</h6>
                            </td>
                            <td>
                                <h6 class="font_14 col_3">Graph</h6>
                            </td>

                            <td>
                                <h6 data-bs-toggle="tooltip" data-bs-placement="left" data-bs-original-title="Edit" class="d-inline-block mb-0"><a href="#"><i style="vertical-align:middle; margin-right:5px;" class="fa fa-edit col_3"></i></a></h6>
                                <h6 data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Delete" class="d-inline-block mb-0"><a href="#"><i class="fa fa-trash col_3"></i></a></h6>

                            </td>
                        </tr>
                        <tr>
                            <td><div class="form-check"><input type="checkbox" class="form-check-input dt-checkboxes"><label class="form-check-label">&nbsp;</label></div> </td>
                            <td>
                                <img style="width:40px; height:40px; border-radius:50%; float:left; margin-right:10px;" src="img/9.jpg" alt="abc">
                                <h6 class="font_14 col_3">Semp Port</h6>

                            </td>
                            <td>
                                <h6 class="font_14 col_3">Insulore</h6>
                            </td>
                            <td>
                                <h6 class="font_14 col_3">765</h6>
                            </td>
                            <td>
                                <h6 class="font_14 col_3">$380,251</h6>
                            </td>
                            <td>
                                <h6 class="font_14 col_3">07/07/2018</h6>
                            </td>
                            <td>
                                <h6 class="font_14 col_3">Graph</h6>
                            </td>

                            <td>
                                <h6 data-bs-toggle="tooltip" data-bs-placement="left" data-bs-original-title="Edit" class="d-inline-block mb-0"><a href="#"><i style="vertical-align:middle; margin-right:5px;" class="fa fa-edit col_3"></i></a></h6>
                                <h6 data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Delete" class="d-inline-block mb-0"><a href="#"><i class="fa fa-trash col_3"></i></a></h6>

                            </td>
                        </tr>
                        <tr>
                            <td><div class="form-check"><input type="checkbox" class="form-check-input dt-checkboxes"><label class="form-check-label">&nbsp;</label></div> </td>
                            <td>
                                <img style="width:40px; height:40px; border-radius:50%; float:left; margin-right:10px;" src="img/11.jpg" alt="abc">
                                <h6 class="font_14 col_3">Semp Port</h6>

                            </td>
                            <td>
                                <h6 class="font_14 col_3">Insulore</h6>
                            </td>
                            <td>
                                <h6 class="font_14 col_3">765</h6>
                            </td>
                            <td>
                                <h6 class="font_14 col_3">$380,251</h6>
                            </td>
                            <td>
                                <h6 class="font_14 col_3">07/07/2018</h6>
                            </td>
                            <td>
                                <h6 class="font_14 col_3">Graph</h6>
                            </td>

                            <td>
                                <h6 data-bs-toggle="tooltip" data-bs-placement="left" data-bs-original-title="Edit" class="d-inline-block mb-0"><a href="#"><i style="vertical-align:middle; margin-right:5px;" class="fa fa-edit col_3"></i></a></h6>
                                <h6 data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Delete" class="d-inline-block mb-0"><a href="#"><i class="fa fa-trash col_3"></i></a></h6>

                            </td>
                        </tr>
                        <tr>
                            <td><div class="form-check"><input type="checkbox" class="form-check-input dt-checkboxes"><label class="form-check-label">&nbsp;</label></div> </td>
                            <td>
                                <img style="width:40px; height:40px; border-radius:50%; float:left; margin-right:10px;" src="img/34.jpg" alt="abc">
                                <h6 class="font_14 col_3">Semp Port</h6>

                            </td>
                            <td>
                                <h6 class="font_14 col_3">Insulore</h6>
                            </td>
                            <td>
                                <h6 class="font_14 col_3">765</h6>
                            </td>
                            <td>
                                <h6 class="font_14 col_3">$380,251</h6>
                            </td>
                            <td>
                                <h6 class="font_14 col_3">07/07/2018</h6>
                            </td>
                            <td>
                                <h6 class="font_14 col_3">Graph</h6>
                            </td>

                            <td>
                                <h6 data-bs-toggle="tooltip" data-bs-placement="left" data-bs-original-title="Edit" class="d-inline-block mb-0"><a href="#"><i style="vertical-align:middle; margin-right:5px;" class="fa fa-edit col_3"></i></a></h6>
                                <h6 data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Delete" class="d-inline-block mb-0"><a href="#"><i class="fa fa-trash col_3"></i></a></h6>

                            </td>
                        </tr>

                        </tbody>
                    </table>
                </div>
                <div class="prod_1i1 mt-3 row">
                    <div class="col-md-6">
                        <div class="prod_1i1l">
                            <p class="mt-3 mb-0">Showing products 1 to 5 of 12</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="prod_1i1r pages" style="text-align:right;">
                            <ul class="mb-0">
                                <li><a href="#"><i class="fa fa-chevron-left"></i></a></li>
                                <li class="act"><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li><a href="#">6</a></li>
                                <li><a href="#"><i class="fa fa-chevron-right"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row footer mt-4" style="border-top:1px solid #ddd; padding-top:20px;">
                <div class="col-md-8">
                    <div class="footer_1l">
                        <p class="mb-0 col_3">© 2013 Your Website Name. All Rights Reserved | Design by <a class="col_1 font-weight-bold" href="http://www.templateonweb.com">TemplateOnWeb</a></p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="footer_1r" style="text-align:right;">
                        <ul>
                            <li class="d-inline font_14"><a class="col_3" href="#">About </a></li>
                            <li class="d-inline font_14"><a class="col_3" href="#">Support </a></li>
                            <li class="d-inline font_14"><a class="col_3" href="#">Contact Us </a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </main>
