<main class="col-md-9 ms-sm-auto common col-lg-10 px-md-4">
            <div class="row crm_1">
                <div class="col-md-3">
                    <div class="analytic_1l">
                        <h5 class="mb-0">Orders</h5>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="crm_1r pull-right">
                        <ul>
                            <li class="col_3 d-inline-block"><a href="#">Lorem</a> <i style="margin-left:5px; vertical-align:middle;" class="fa fa-chevron-right"></i></li>
                            <li class="col_3 d-inline-block"><a href="#">eCommerce</a> <i style="margin-left:5px; vertical-align:middle;" class="fa fa-chevron-right"></i></li>
                            <li class="col_3 d-inline-block"> Orders</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="order_new row bg-white m-0" style="border-radius:5px; box-shadow: 0px 0px 8px 1px #d8e2ef; border:1px solid #d8e2ef;">
                <div class="order_n1 row m-0" style="padding-top:15px; padding-bottom:15px;">
                    <div class="col-md-3">
                        <div class="order_n1l">
                            <h6 class="mb-0 mt-1">Orders</h6>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="order_n1r" style="text-align:right;">
                            <ul class="mb-0">
                                <li class="d-inline-block"><a href="#"><i style="margin-right:5px; vertical-align:middle;" class="fa fa-plus"></i> New</a></li>
                                <li class="d-inline-block"><a href="#"><i style="margin-right:5px; vertical-align:middle;" class="fa fa-filter"></i> Filter</a></li>
                                <li class="d-inline-block"><a href="#"><i style="margin-right:5px; vertical-align:middle;" class="fa fa-file-excel-o"></i> Export</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="order_n2 row m-0">
                    <div class="table-responsive table_tow">
                        <table class="table table-striped table-hover align-middle">
                            <thead>
                            <tr>
                                <th scope="col"><input style="margin-right:10px;" class="form-check-input" type="checkbox"> Order</th>
                                <th scope="col">Date</th>
                                <th scope="col">Ship To</th>
                                <th scope="col">Status</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>
                                    <input class="form-check-input me-3" type="checkbox">
                                    <p class="d-inline-block text_13 mb-0"><a class="colo_4" href="#"><span class="bold">#131</span></a> by <span class="bold">Eget Nulla</span>
                                        <a class="colo_4" href="#">info@gmail.com</a></p>
                                </td>
                                <td>
                                    <h6 class="mb-0 normal text_13">20/04/2019</h6>
                                </td>
                                <td>
                                    <p class="text_13 mb-0">Eget Nulla, 1372 Main Avenue, Semper, Old York 01143
                                        <span class="colo_1">Via Best Rate</span></p>
                                </td>
                                <td>
                                    <h6 style="margin-top:8px; color:#00864e; background:#ccf6e4;" class="badge_1 text_13">Completed	<i class="fa fa-check"></i></h6>
                                </td>

                            </tr>
                            <tr>
                                <td>
                                    <input style="margin-right:10px;" class="form-check-input" type="checkbox">
                                    <p class="d-inline-block text_13 mb-0"><a class="colo_4" href="#"><span class="bold">#131</span></a> by <span class="bold">Eget Nulla</span>
                                        <a class="colo_4" href="#">info@gmail.com</a></p>
                                </td>
                                <td>
                                    <h6 class="mb-0 normal text_13">20/04/2019</h6>
                                </td>
                                <td>
                                    <p class="text_13 mb-0">Eget Nulla, 1372 Main Avenue, Semper, Old York 01143
                                        <span class="colo_1">Via Best Rate</span></p>
                                </td>
                                <td>
                                    <h6 style="color:#1c4f93; background:#d5e5fa; margin-top:8px;" class="badge_1 text_13">Processing	<i class="fa fa-refresh"></i></h6>
                                </td>

                            </tr>
                            <tr>
                                <td>
                                    <input style="margin-right:10px;" class="form-check-input" type="checkbox">
                                    <p class="d-inline-block text_13 mb-0"><a class="colo_4" href="#"><span class="bold">#131</span></a> by <span class="bold">Eget Nulla</span>
                                        <a class="colo_4" href="#">info@gmail.com</a></p>
                                </td>
                                <td>
                                    <h6 class="mb-0 normal text_13">20/04/2019</h6>
                                </td>
                                <td>
                                    <p class="text_13 mb-0">Eget Nulla, 1372 Main Avenue, Semper, Old York 01143
                                        <span class="colo_1">Via Best Rate</span></p>
                                </td>
                                <td>
                                    <h6 style="margin-top:8px; color:#7d899b; background:#e3e6ea;" class="badge_1 text_13">On Hold		<i class="fa fa-ban"></i></h6>
                                </td>

                            </tr>
                            <tr>
                                <td>
                                    <input style="margin-right:10px;" class="form-check-input" type="checkbox">
                                    <p class="d-inline-block text_13 mb-0"><a class="colo_4" href="#"><span class="bold">#131</span></a> by <span class="bold">Eget Nulla</span>
                                        <a class="colo_4" href="#">info@gmail.com</a></p>
                                </td>
                                <td>
                                    <h6 class="mb-0 normal text_13">20/04/2019</h6>
                                </td>
                                <td>
                                    <p class="text_13 mb-0">Eget Nulla, 1372 Main Avenue, Semper, Old York 01143
                                        <span class="colo_1">Via Best Rate</span></p>
                                </td>
                                <td>
                                    <h6 style="color:#9d5228; background:#fde6d8; margin-top:8px;" class="badge_1 text_13">Pending	<i class="fa fa-clock-o"></i></h6>
                                </td>

                            </tr>
                            <tr>
                                <td>
                                    <input style="margin-right:10px;" class="form-check-input" type="checkbox">
                                    <p class="d-inline-block text_13 mb-0"><a class="colo_4" href="#"><span class="bold">#131</span></a> by <span class="bold">Eget Nulla</span>
                                        <a class="colo_4" href="#">info@gmail.com</a></p>
                                </td>
                                <td>
                                    <h6 class="mb-0 normal text_13">20/04/2019</h6>
                                </td>
                                <td>
                                    <p class="text_13 mb-0">Eget Nulla, 1372 Main Avenue, Semper, Old York 01143
                                        <span class="colo_1">Via Best Rate</span></p>
                                </td>
                                <td>
                                    <h6 style="margin-top:8px; color:#00864e; background:#ccf6e4;" class="badge_1 text_13">Completed	<i class="fa fa-check"></i></h6>
                                </td>

                            </tr>
                            <tr>
                                <td>
                                    <input style="margin-right:10px;" class="form-check-input" type="checkbox">
                                    <p class="d-inline-block text_13 mb-0"><a class="colo_4" href="#"><span class="bold">#131</span></a> by <span class="bold">Eget Nulla</span>
                                        <a class="colo_4" href="#">info@gmail.com</a></p>
                                </td>
                                <td>
                                    <h6 class="mb-0 normal text_13">20/04/2019</h6>
                                </td>
                                <td>
                                    <p class="text_13 mb-0">Eget Nulla, 1372 Main Avenue, Semper, Old York 01143
                                        <span class="colo_1">Via Best Rate</span></p>
                                </td>
                                <td>
                                    <h6 style="color:#1c4f93; background:#d5e5fa; margin-top:8px;" class="badge_1 text_13">Processing	<i class="fa fa-refresh"></i></h6>
                                </td>

                            </tr>
                            <tr>
                                <td>
                                    <input style="margin-right:10px;" class="form-check-input" type="checkbox">
                                    <p class="d-inline-block text_13 mb-0"><a class="colo_4" href="#"><span class="bold">#131</span></a> by <span class="bold">Eget Nulla</span>
                                        <a class="colo_4" href="#">info@gmail.com</a></p>
                                </td>
                                <td>
                                    <h6 class="mb-0 normal text_13">20/04/2019</h6>
                                </td>
                                <td>
                                    <p class="text_13 mb-0">Eget Nulla, 1372 Main Avenue, Semper, Old York 01143
                                        <span class="colo_1">Via Best Rate</span></p>
                                </td>
                                <td>
                                    <h6 style="margin-top:8px; color:#7d899b; background:#e3e6ea;" class="badge_1 text_13">On Hold		<i class="fa fa-ban"></i></h6>
                                </td>

                            </tr>
                            <tr>
                                <td>
                                    <input style="margin-right:10px;" class="form-check-input" type="checkbox">
                                    <p class="d-inline-block text_13 mb-0"><a class="colo_4" href="#"><span class="bold">#131</span></a> by <span class="bold">Eget Nulla</span>
                                        <a class="colo_4" href="#">info@gmail.com</a></p>
                                </td>
                                <td>
                                    <h6 class="mb-0 normal text_13">20/04/2019</h6>
                                </td>
                                <td>
                                    <p class="text_13 mb-0">Eget Nulla, 1372 Main Avenue, Semper, Old York 01143
                                        <span class="colo_1">Via Best Rate</span></p>
                                </td>
                                <td>
                                    <h6 style="color:#9d5228; background:#fde6d8; margin-top:8px;" class="badge_1 text_13">Pending	<i class="fa fa-clock-o"></i></h6>
                                </td>

                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="prod_n2 row  text-center bg-white m-0" style=" padding-bottom:15px; padding-left:5px; padding-right:5px; border-radius:0px 0px 5px 5px; ">
                    <div class="col-md-12">
                        <ul class="mb-0">
                            <li class="act"><a href="#"><i class="fa fa-chevron-left"></i></a></li>
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#"><i style="font-size:6px; margin-right:2px; vertical-align:middle;" class="fa fa-circle"></i><i style="font-size:6px; margin-right:2px; vertical-align:middle;" class="fa fa-circle"></i><i style="font-size:6px; vertical-align:middle;" class="fa fa-circle"></i></a></li>
                            <li><a href="#">30</a></li>
                            <li><a href="#"><i class="fa fa-chevron-right"></i></a></li>
                        </ul>
                    </div>

                </div>
            </div>
            <div class="row footer mt-4" style="border-top:1px solid #ddd; padding-top:20px;">
                <div class="col-md-8">
                    <div class="footer_1l">
                        <p class="mb-0 col_3">© 2013 Your Website Name. All Rights Reserved | Design by <a class="col_1 font-weight-bold" href="http://www.templateonweb.com">TemplateOnWeb</a></p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="footer_1r" style="text-align:right;">
                        <ul>
                            <li class="d-inline font_14"><a class="col_3" href="#">About </a></li>
                            <li class="d-inline font_14"><a class="col_3" href="#">Support </a></li>
                            <li class="d-inline font_14"><a class="col_3" href="#">Contact Us </a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </main>