
        <main class="col-md-9 ms-sm-auto common col-lg-10 px-md-4">
            <div class="row crm_1 mb-3">
                <div class="col-md-3">
                    <div class="analytic_1l">
                        <h5 class="mb-0">Invoice</h5>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="crm_1r pull-right">
                        <ul class="mb-0">
                            <li class="col_3 d-inline-block"><a href="#">Lorem</a> <i style="margin-left:5px; vertical-align:middle;" class="fa fa-chevron-right"></i></li>
                            <li class="col_3 d-inline-block"><a href="#">eCommerce</a> <i style="margin-left:5px; vertical-align:middle;" class="fa fa-chevron-right"></i></li>
                            <li class="col_3 d-inline-block"> Invoice</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row invoice_1 bg-white m-0" style="padding:20px 8px; border-radius:5px; box-shadow: 0px 0px 8px 1px #d8e2ef; border:1px solid #d8e2ef;">
                <div class="col-lg-3 col-md-12">
                    <div class="invoice_1l">
                        <h5 class="mb-0">Order #AD20294</h5>
                    </div>
                </div>
                <div class="col-lg-9 col-md-12">
                    <div class="invoice_1r" style="text-align:right;">
                        <ul class="mb-0" style="margin-top:2px;">
                            <li class="d-inline-block"><a class="button_new bold" href="#"><i style="vertical-align:middle; margin-right:2px;" class="fa fa-arrow-down"></i> Download (.pdf)</a></li>
                            <li class="d-inline-block"><a class="button_new bold" href="#"><i style="vertical-align:middle; margin-right:2px;" class="fa fa-print"></i> Print</a></li>
                            <li class="d-inline-block"><a class="button_new bold colo_2" href="#"><i style="vertical-align:middle; margin-right:2px;" class="fa fa-dollar"></i> Receive Payment</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row invoice_2 bg-white m-0 mt-3" style="padding:20px 8px; border-radius:5px 5px 0px 0px; box-shadow: 0px 0px 8px 1px #d8e2ef;">
                <div class="invoice_2i row m-0">
                    <div class="col-md-6">
                        <div class="invoice_2il">
                            <h5 style="border:3px solid #2c7be5; border-radius:50%; width:150px; height:150px; padding-top:50px;" class="text-center colo_4 d-inline-block mb-0">ADMIN <br><span class="colo_5">PANEL</span></h5>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="invoice_2ir" style="text-align:right;">
                            <h3 style="font-size: 2.0736rem;">Invoice</h3>
                            <h5 class="mt-3">Falcon Design Studio</h5>
                            <p class="text_13 mb-0">126 University Awe, North<br>
                                On, India, M6N 3I8</p>
                        </div>
                    </div>
                </div>
                <div class="invoice_2i1 row m-0" style="border-top:1px  solid #d8e2ef; margin-top:20px!important; padding-top:20px;">
                    <div class="col-md-6">
                        <div class="invoice_2i1l">
                            <h6 class="colo_1 text_13">Invoice to</h6>
                            <h5>Semper Porta</h5>
                            <p class="text_13 mb-0">126 University Awe, North<br>
                                On, India, M6N 3I8<br> Delhi</p>
                            <h6 class="normal text_13 mt-3"><a class="colo_4" href="#">info@gmail.com</a></h6>
                            <h6 class="normal text_13 mt-1 mb-0"><a class="colo_4" href="#">+1234-5678-9012</a></h6>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="invoice_2i1r" style="text-align:right;">
                            <h6 class="text_13 col_3 mb-3">Invoice No:	<span style="margin-left:5px;" class="normal">14</span></h6>
                            <h6 class="text_13 col_3 mb-3">Order Number:		<span style="margin-left:5px;" class="normal">AE10293</span></h6>
                            <h6 class="text_13 col_3 mb-3">Invoice Date:		<span style="margin-left:5px;" class="normal">2019-07-27</span></h6>
                            <h6 class="text_13 col_3 mb-2">Payment Due:		<span style="margin-left:5px;" class="normal">Upon receipt</span></h6>
                            <h6 style="color:#00864e; background:#ccf6e4; border-radius:0!important;" class="text_13 badge_1 mb-0">Amount Due: <span style="margin-left:5px;">$17698.50</span></h6>
                        </div>
                    </div>
                </div>
                <div class="invoice_2i2 row m-0" style=" padding-top:20px;">
                    <div class="table-responsive order_dn2i">
                        <table class="table table-borderless align-middle">
                            <thead>
                            <tr class="bg-primary text-white">
                                <th scope="col"> Products</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Rate</th>
                                <th scope="col">Amount</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr style="border-bottom:1px solid #d8e2ef;">
                                <td>
                                    <p class="text_13 mb-0"><span class="bold">Platinum web hosting package9</span><br>
                                        Down 35mb, Up 100mb</p>
                                </td>
                                <td>
                                    <h6 class="mb-0 normal text_13">3</h6>
                                </td>
                                <td>
                                    <h6 class="mb-0 normal text_13">$50.00	</h6>
                                </td>
                                <td>
                                    <h6 class="mb-0 normal text_13">$150.00	</h6>
                                </td>

                            </tr>
                            <tr class="bg-light" style="border-bottom:1px solid #d8e2ef;">
                                <td>
                                    <p class="text_13 mb-0"><span class="bold">Platinum web hosting package9</span><br>
                                        Down 35mb, Up 100mb</p>
                                </td>
                                <td>
                                    <h6 class="mb-0 normal text_13">3</h6>
                                </td>
                                <td>
                                    <h6 class="mb-0 normal text_13">$50.00	</h6>
                                </td>
                                <td>
                                    <h6 class="mb-0 normal text_13">$150.00	</h6>
                                </td>

                            </tr>
                            <tr style="border-bottom:1px solid #d8e2ef;">
                                <td>
                                    <p class="text_13 mb-0"><span class="bold">Platinum web hosting package9</span><br>
                                        Down 35mb, Up 100mb</p>
                                </td>
                                <td>
                                    <h6 class="mb-0 normal text_13">3</h6>
                                </td>
                                <td>
                                    <h6 class="mb-0 normal text_13">$50.00	</h6>
                                </td>
                                <td>
                                    <h6 class="mb-0 normal text_13">$150.00	</h6>
                                </td>

                            </tr>
                            <tr class="bg-light" style="border-bottom:1px solid #d8e2ef;">
                                <td>
                                    <p class="text_13 mb-0"><span class="bold">Platinum web hosting package9</span><br>
                                        Down 35mb, Up 100mb</p>
                                </td>
                                <td>
                                    <h6 class="mb-0 normal text_13">3</h6>
                                </td>
                                <td>
                                    <h6 class="mb-0 normal text_13">$50.00	</h6>
                                </td>
                                <td>
                                    <h6 class="mb-0 normal text_13">$150.00	</h6>
                                </td>

                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="order_dn2i1 row">
                    <div class="col-md-9">
                        <div class="order_dn2i1l"></div>
                    </div>
                    <div class="col-md-3">
                        <div class="order_dn2i1r" style="text-align:right;">
                            <h6 class="text_13">Subtotal:	<span style="margin-left:5px;" class="col_3">$600.00</span></h6>
                            <h6 class="text_13">Tax 5%:	<span style="margin-left:5px;" class="col_3">$22.50</span></h6>
                            <hr style="width:55%; margin-left:auto; margin-top:5px; margin-bottom:5px;">
                            <h6 class="text_13 mb-0">Total:	<span style="margin-left:5px;" class="col_3">$577.50</span></h6>
                            <hr style="width:55%; margin-left:auto; margin-top:5px; margin-bottom:5px;">
                            <h6 class="text_13 mb-0">Amount Due:	<span style="margin-left:5px;" class="col_3">$577.50</span></h6>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row invoice_2 bg-light m-0" style="padding:15px 15px; border-radius:0px 0px 5px 5px; box-shadow: 0px 0px 8px 1px #d8e2ef;">
                <div class="col-md-12">
                    <p class="text_13 mb-0"><span class="bold">Notes:</span> We really appreciate your business and if there’s anything else we can do, please let us know!</p>
                </div>
            </div>



            <div class="row footer mt-4" style="border-top:1px solid #ddd; padding-top:20px;">
                <div class="col-md-8">
                    <div class="footer_1l">
                        <p class="mb-0 col_3">© 2013 Your Website Name. All Rights Reserved | Design by <a class="col_1 font-weight-bold" href="http://www.templateonweb.com">TemplateOnWeb</a></p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="footer_1r" style="text-align:right;">
                        <ul>
                            <li class="d-inline font_14"><a class="col_3" href="#">About </a></li>
                            <li class="d-inline font_14"><a class="col_3" href="#">Support </a></li>
                            <li class="d-inline font_14"><a class="col_3" href="#">Contact Us </a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </main>
