
        <main class="col-md-9 ms-sm-auto common col-lg-10 px-md-4">
            <div class="row crm_1 mb-3">
                <div class="col-md-3">
                    <div class="analytic_1l">
                        <h5 class="mb-0">Pricing</h5>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="crm_1r pull-right">
                        <ul class="mb-0">
                            <li class="col_3 d-inline-block"><a href="#">Lorem</a> <i style="margin-left:5px; vertical-align:middle;" class="fa fa-chevron-right"></i></li>
                            <li class="col_3 d-inline-block"><a href="#">eCommerce</a> <i style="margin-left:5px; vertical-align:middle;" class="fa fa-chevron-right"></i></li>
                            <li class="col_3 d-inline-block"> Pricing</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row billing bg-white" style="margin-left:0; margin-right:0; padding:20px 10px; border-radius:5px; box-shadow: 0px 0px 8px 1px #d8e2ef; border:1px solid #d8e2ef;">
                <div class="col-md-12">
                    <div class="billing_i">
                        <p class="font_14 bold">Free for 30 days</p>
                        <h4 style="font-size: 1.728rem;">For teams of all sizes, in the cloud</h4>
                        <p>Get the power, control, and customization you need to manage your<br>
                            team’s and organization’s projects.</p>
                        <p class="mb-0 font_14"><a class="colo_4 bold" href="#"> Have questions? Chat with us</a></p>
                    </div>
                </div>
            </div>

            <div class="row pricing_1 bg-white m-0 mt-3" style="margin-left:0; margin-right:0; padding:20px 10px; border-radius:5px; box-shadow: 0px 0px 8px 1px #d8e2ef; border:1px solid #d8e2ef;">
                <div class="pricing_1i row m-0">
                    <div class="col-md-6 p-0">
                        <div class="pricing_1il">
                            <h5 class="mb-0">Billed Annually <span class="badge_1 text_12 bold" style="color:#00864e; vertical-align:middle; background:#ccf6e4;">Save 25%</span></h5>
                        </div>
                    </div>
                    <div class="col-md-6 p-0">
                        <div class="pricing_1ir float-end">
                            <label class="form-check-label me-2 bold colo_8">Monthly</label>
                            <div class="form-check form-switch mb-0 d-inline-block"><input class="form-check-input"  type="checkbox" checked="checked"><label class="form-check-label align-top bold colo_8" for="customSwitch1">Yearly</label></div>
                        </div>
                    </div>
                </div>
                <div class="pricing_1i1 row" style="border-top:1px solid #d8e2ef; margin-top:20px!important; margin-left:0; margin-right:0;">
                    <div class="col-md-4">
                        <div class="pricing_1i1i text-center" style="padding:30px 15px 30px 15px;">
                            <h3 style="font-size: 1.728rem;">Single</h3>
                            <p>For teams that need to  <br> create project plans with<br> confidence.</p>
                            <h3 style="font-size: 1.728rem;"><span style="font-size:20px; vertical-align:middle;">$</span>10<span class="text_13"> / year</span></h3>
                            <h6 class="mt-4 mb-0"><a style="padding: 0.3125rem 1rem;" class="btn btn-outline-primary bold" href="#">Start free trial</a></h6>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="pricing_1i1i text-center" style="padding:30px 15px 30px 15px; background:#e6fffc;">
                            <h3 style="font-size: 1.728rem;">Business</h3>
                            <p>For teams that need to  <br> create project plans with<br> confidence.</p>
                            <h3 style="font-size: 1.728rem;"><span style="font-size:20px; vertical-align:middle;">$</span>49<span class="text_13"> / year</span></h3>
                            <h6 class="mt-4 mb-0"><a style="padding: 0.3125rem 1rem;" class="btn btn-primary bold" href="#">Get Business</a></h6>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="pricing_1i1i text-center" style="padding:30px 15px 30px 15px;">
                            <h3 style="font-size: 1.728rem;">Extended</h3>
                            <p>For teams that need to  <br> create project plans with<br> confidence.</p>
                            <h3 style="font-size: 1.728rem;"><span style="font-size:20px; vertical-align:middle;">$</span>90<span class="text_13"> / year</span></h3>
                            <h6 class="mt-4 mb-0"><a style="padding: 0.3125rem 1rem;" class="btn btn-outline-primary bold" href="#">Purchase</a></h6>
                        </div>
                    </div>
                </div>
                <div class="pricing_1i2 row" style="border-top:1px solid #d8e2ef; margin-left:0; margin-right:0;">
                    <div class="col-md-4">
                        <div class="pricing_1i1i" style="padding:30px 15px 30px 15px;">
                            <h5>Track team projects with free:</h5>
                            <h6 class="normal mt-3"><i style="margin-right:5px;" class="fa fa-check colo_2"></i> Timeline</h6>
                            <h6 class="normal mt-3"><i style="margin-right:5px;" class="fa fa-check colo_2"></i>  Advanced Search</h6>
                            <h6 class="normal mt-3"><i style="margin-right:5px;" class="fa fa-check colo_2"></i>  Custom fields <span class="badge_1 text_12 bold" style="color:#00864e; vertical-align:middle; background:#ccf6e4;">New</span></h6>
                            <h6 class="normal mt-3"><i style="margin-right:5px;" class="fa fa-check colo_2"></i>  Task dependencies</h6>
                            <h6 class="normal mt-3"><i style="margin-right:5px;" class="fa fa-check colo_2"></i>  Private teams & projects</h6>
                            <h5 class="mb-0 mt-4" style="margin-left:25px;"><a class="colo_4 normal" href="#">More about Single</a></h5>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="pricing_1i1i" style="padding:30px 15px 30px 15px; background:#e6fffc;">
                            <h5>Everything in Premium, plus:</h5>
                            <h6 class="normal mt-3"><i style="margin-right:5px;" class="fa fa-check colo_2"></i> Portfolios</h6>
                            <h6 class="normal mt-3"><i style="margin-right:5px;" class="fa fa-check colo_2"></i>   Lock custom fields</h6>
                            <h6 class="normal mt-3"><i style="margin-right:5px;" class="fa fa-check colo_2"></i>   Onboarding plan </h6>
                            <h6 class="normal mt-3"><i style="margin-right:5px;" class="fa fa-check colo_2"></i>   Resource Management</h6>
                            <h6 class="normal mt-3"><i style="margin-right:5px;" class="fa fa-check colo_2"></i>  Lock custom fields</h6>
                            <h5 class="mb-0 mt-4" style="margin-left:25px;"><a class="colo_4 normal" href="#">More about Business</a></h5>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="pricing_1i1i" style="padding:30px 15px 30px 15px;">
                            <h5>Everything in Business, plus:</h5>
                            <h6 class="normal mt-3"><i style="margin-right:5px;" class="fa fa-check colo_2"></i> Portfolios</h6>
                            <h6 class="normal mt-3"><i style="margin-right:5px;" class="fa fa-check colo_2"></i>  Tags <span class="badge_1 text_12 bold" style="color:#1c4f93; background:#d5e5fa; vertical-align:middle;">Coming Soon</span></h6>
                            <h6 class="normal mt-3"><i style="margin-right:5px;" class="fa fa-check colo_2"></i>  Onboarding plan </h6>
                            <h6 class="normal mt-3"><i style="margin-right:5px;" class="fa fa-check colo_2"></i>  Resource Management</h6>
                            <h5 class="mb-0 mt-4" style="margin-left:25px;"><a class="colo_4 normal" href="#">More about Extended</a></h5>
                        </div>
                    </div>
                </div>
                <div class="pricing_1i2 row text-center" style="border-top:1px solid #d8e2ef; margin-left:0; margin-right:0; padding-top:30px; padding-bottom:15px;">
                    <div class="col-md-12">
                        <h5>Looking for personal or small team task management?</h5>
                        <h6 class="normal mb-0">Try the <a class="colo_4" href="#">basic version</a> of Admin</h6>
                    </div>
                </div>

            </div>

            <div class="row pricing_2 bg-white m-0 mt-3 text-center" style="margin-left:0; margin-right:0; padding:20px 10px; border-radius:5px 5px 0px 0px; box-shadow: 0px 0px 8px 1px #d8e2ef;">
                <div class="col-md-12">
                    <h4 class="mb-0" style="font-size: 1.44rem;">Frequently asked questions</h4>
                </div>
            </div>

            <div class="row pricing_3 bg-light m-0" style="margin-left:0; margin-right:0; padding:20px 10px; border-radius:0px 0px 5px 5px; box-shadow: 0px 0px 8px 1px #d8e2ef;">
                <div class="col-md-12">
                    <div class="pricing_3i">
                        <h6 class="text_13"><a class="colo_4" href="#">How does Falcon's pricing work? <i style="margin-left:5px;" class="fa fa-caret-right"></i></a></h6>
                        <p class="text_13 mb-0">The free version of Falcon is available for teams of up to 15 people. Our Falcon Premium plans of 15 or fewer qualify for a small team discount. As your team grows to 20 users or more and gets more value out of Falcon, you'll get closer to our standard monthly price per seat. The price of a paid Falcon plan is tiered, starting in groups of 5 and 10 users, based on the number of people you have in your Team or Organization.</p>
                        <hr>
                    </div>
                    <div class="pricing_3i">
                        <h6 class="text_13"><a class="colo_4" href="#">What forms of payment do you accept? <i style="margin-left:5px;" class="fa fa-caret-right"></i></a></h6>
                        <p class="text_13 mb-0">You can purchase Falcon with any major credit card. For annual subscriptions, we can issue an invoice payable by bank transfer or check. Please contact us to arrange an invoice purchase. Monthly purchases must be paid for by credit card.</p>
                        <hr>
                    </div>
                    <div class="pricing_3i">
                        <h6 class="text_13"><a class="colo_4" href="#">We need to add more people to our team. How will that be billed? <i style="margin-left:5px;" class="fa fa-caret-right"></i></a></h6>
                        <p class="text_13 mb-0">You can add as many new teammates as you need before changing your subscription. We will subsequently ask you to correct your subscription to cover current usage.</p>
                        <hr>
                    </div>
                    <div class="pricing_3i">
                        <h6 class="text_13"><a class="colo_4" href="#">How secure is Panel? <i style="margin-left:5px;" class="fa fa-caret-right"></i></a></h6>
                        <p class="text_13 mb-0">The free version of Falcon is available for teams of up to 15 people. Our Falcon Premium plans of 15 or fewer qualify for a small team discount. As your team grows to 20 users or more and gets more value out of Falcon, you'll get closer to our standard monthly price per seat. The price of a paid Falcon plan is tiered, starting in groups of 5 and 10 users, based on the number of people you have in your Team or Organization.</p>
                        <hr>
                    </div>
                    <div class="pricing_3i">
                        <h6 class="text_13"><a class="colo_4" href="#">Will I be charged sales tax? <i style="margin-left:5px;" class="fa fa-caret-right"></i></a></h6>
                        <p class="text_13 mb-0">You can purchase Falcon with any major credit card. For annual subscriptions, we can issue an invoice payable by bank transfer or check. Please contact us to arrange an invoice purchase. Monthly purchases must be paid for by credit card.</p>
                        <hr>
                    </div>
                    <div class="pricing_3i">
                        <h6 class="text_13"><a class="colo_4" href="#">What is your refund policy? <i style="margin-left:5px;" class="fa fa-caret-right"></i></a></h6>
                        <p class="text_13 mb-0">We do not offer refunds apart from exceptions listed below. If you cancel your plan before the next renewal cycle, you will retain access to paid features until the end of your subscription period. When your subscription expires, you will lose access to paid features and all data associated with those features. Exceptions to our refund policy: canceling within 48 hours of initial charge will result in a full refund. If you cancel within this timeframe, you will lose access to paid features and associated data immediately upon canceling.</p>
                        <ul class="mb-0 mt-4">
                            <li style="font-size: 0.875rem; margin-right:10px;" class="d-inline-block bold">Was this information helpful?</li>
                            <li style="font-size: 0.875rem;" class="d-inline-block bold"><a style="border:1px solid #d8e2ef; padding: 0.1875rem 0.75rem; border-radius: 0.2rem;" class="btn btn-default bg-white bold" href="#">Yes</a></li>
                            <li style="font-size: 0.875rem;" class="d-inline-block bold"><a style="border:1px solid #d8e2ef; padding: 0.1875rem 0.75rem; border-radius: 0.2rem;" class="btn btn-default bg-white bold" href="#">No</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </main>
