<div class="container-fluid">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/admin">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Category page</li>
    </ol>
    <div class="card-header">
        <h2>Category Pages</h2>
    </div>
    <div class="card body">
        <div class="col-md-6">
            <a href="@" class="btn btn-primary">Thêm mới</a>
        </div>

        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td><i class="fa-solid fa-pen-to-square text-warning"></i></td>
                <td><i class="fa-solid fa-trash text-danger"></i></td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
                <td><i class="fa-solid fa-pen-to-square text-warning"></i></td>
                <td><i class="fa-solid fa-trash text-danger"></i></td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>John</td>
                <td>Doe</td>
                <td>@social</td>
                <td><i class="fa-solid fa-pen-to-square text-warning"></i></td>
                <td><i class="fa-solid fa-trash text-danger"></i></td>
            </tr>
            </tbody>
        </table>
    </div>

</div>
